.xinguan-view{
    background-color: #fff;
}
.xinguan-flex{
    display: flex;
    align-items: center;
    margin: 0 20rpx;
    padding: 30rpx 0;
    border-bottom: 1rpx solid #eee;
}
.xinguan-flex:last-child{
    border: none;
}
.input-style{
    color: #e4e4e4;
}

.xinguan-flex input{
    padding:10rpx;
    flex: 1;
    text-align: right;
}

.flex-left{
    flex: 1;
}

.flex-left view{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-left  image{
    width: 30rpx;
    height: 30rpx;
    display: block;
    margin-left: 20rpx;
}

/* ---------提交按钮：合计价格-------- */
.Total-view{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20rpx 20rpx 68rpx 20rpx;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .Total-view text:nth-child(1){
    font-weight: bold;
    color: #ff5f2c;
  }
  .Total-view text:nth-child(2){
    background-color: #0176ff;
    padding: 15rpx 50rpx;
    color: #ffffff;
    border-radius: 10rpx;
  }